.user-page-container {
    
    height: 100%;

    .user-wrapper {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 4rem;

        .user-img {

            width: auto;
            margin-top: 2rem;

            @include respond(xs) {

                width: 100%;
        
            }
        }   
       
    }

}