.content-gallery-1 {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 15rem);
    background-color: $color-background-container;

    grid-template-areas:
        "gallery-1 gallery-1 gallery-6 gallery-7 gallery-7 gallery-7"
        "gallery-1 gallery-1 gallery-6 gallery-8 gallery-8 gallery-11"
        "gallery-2 gallery-2 gallery-6 gallery-8 gallery-8 gallery-11"
        "gallery-3 gallery-5 gallery-9 gallery-9 gallery-10 gallery-11"
        "gallery-4 gallery-5 gallery-9 gallery-9 gallery-10 gallery-11"
    ;

    @include respond(md) {

        grid-template-columns: 1fr;
        grid-template-rows: repeat(11, 30rem);

        grid-template-areas:
            "gallery-1"
            "gallery-1"
            "gallery-2"
            "gallery-3"
            "gallery-4"
            "gallery-5"
            "gallery-6"
            "gallery-7"
            "gallery-8"
            "gallery-9"
            "gallery-10"
            "gallery-11"
        ;

    }

    .gallery-1 {
        grid-area: gallery-1;

    }

    .gallery-2 {
        grid-area: gallery-2;
    }

    .gallery-3 {
        grid-area: gallery-3;
    }

    .gallery-4 {
        grid-area: gallery-4;
    }

    .gallery-5 {
        grid-area: gallery-5;
    }

    .gallery-6 {
        grid-area: gallery-6;
    }

    .gallery-7 {
        grid-area: gallery-7;
    }

    .gallery-8 {
        grid-area: gallery-8;
    }

    .gallery-9 {
        grid-area: gallery-9;
    }

    .gallery-10 {
        grid-area: gallery-10;
    }

    .gallery-11 {
        grid-area: gallery-11;
    }

    .gallery-item img {

        width: 100%;
        height: 100%;
        overflow: hidden;
        object-fit: cover;
        object-position: 50% 50%;
        transition: scale 0.3s ease;

        &:hover {

            scale: 1.3;

            @include respond(md) {
                scale: 1;
            }

        }
    }
}