.main {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;      
    
    &__container {      
        max-width: 95rem;
        width: 95rem;

        @include respond(md) {
            width: 100%;           
        }
    }

}