.navbar { 

    .nav-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        &__list-item {

            display: flex;
            justify-content: flex-end;
            align-items: center;

            width: 10rem;
            height: 3rem;
            list-style: none;   
            
            @include respond(sm) {
                
                justify-content: center;
                  
            }
        }
    }

    .nav-active-link {
        color: black;
    }

    .footer-link-margin {
        margin-bottom: 2rem;
    }
}

