.btn {
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    
    &--form-login {
        background-color: white;
        width: 15rem;
        height: 3.7rem;   
        padding: 1rem 2rem;        
    }

    &--logout {
        background-color: white;
        width: 7.5rem;
        height: 2.5rem;   
        padding: 0.5rem 1rem;        
    }

    &--hidden {
        display: none;
    }

    &:hover {
        background-color: gray;
        color: white;
    }
}