    .main-content-box {

        z-index: 10;
        position: relative;
        width: 100%;
        height: 55rem;
        background-color: $color-background-container;
        margin-bottom: 5rem;
        padding: 7rem;
        overflow: hidden;

        @include respond(sm) {

            min-height: 33rem;
            height: auto;
            padding: 4rem;
        }

        .decoration-shape {

            position: absolute;
            display: block;
            z-index: -10;
            width: 50rem;
            height: 50rem;
            background-color: $color-shape-1;
            border-radius: 50%;
            top: 50%;
            right: 50%;
            transform: translate(50%, -50%);

            @include respond(sm) {
                width: 30rem;
                height: 30rem;
            }
        }

        .decoration-shape-2 {

            position: absolute;
            display: block;
            z-index: -10;
            width: 50rem;
            height: 50rem;
            background-color: $color-shape-2;
            border-radius: 50%;
            top: 50%;
            right: 50%;
            transform: translate(50%, -50%);
            
            @include respond(sm) {
                width: 30rem;
                height: 30rem;
            }
        }

        .image-position {

            top: 0;
            left: 0;
            width: 50%;
            z-index: -1;
            height: 100%;
            position: absolute;

            @include respond(md) {
                width: 100%;                
            }
        }

        .container-wrapper {

            display: flex;
            height: 100%;
            flex-direction: row;
            justify-content: center;
            align-items: flex-start;

            @include respond(sm) {

                flex-direction: column;
                align-items: center;

            }
        }

        .container-wrapper-2 {

            display: flex;
            min-height: 100%;
            height: 30rem;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            
        }

        .image-grid {

            max-height: 100%;
            height: 90%;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto auto;
            grid-gap: 1.5rem;
            overflow: hidden;

            .grid-item-1 {

                grid-column: 1/2;
                grid-row: 1/2;
            }

            .grid-item-2 {

                grid-column: 1/2;
                grid-row: 2/3;
            }
        }

        .image-size {

            width: 100%;
            height: 100%;
            max-width: 100%;
            max-height: 100%;
        }

        .wrapper-col {

            width: 33.33%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            @include respond(sm) {
                margin-bottom: 2rem;
                width: 100%;
            }

        }

        .wrapper-col--margin-right:not(:last-child) {
            
            margin-right: 1.5rem;

            @include respond(sm) {

                margin-right: 0;
            }
        }

        .par-margin-bottom {

            margin-bottom: 1rem;
        }

        .main-header-underline {

            display: block;
            background-color: white;
            margin-top: 1rem;
            margin-bottom: 2rem;
            height: 2px;
            width: 25rem;
        }

        .main-line {

            display: block;
            background-color: gray;
            height: 1px;
            width: 100%;

            &--margin-top {
                margin-top: 1rem;
            }

            &--margin-bottom {
                margin-bottom: 1rem;
            }
        }

    }