@import './abstracts/variables';
@import './abstracts/mixins';

@import './base/base';
@import './base/typography';

@import './components/home-content-box';

@import './components/buttons';
@import './components/inputs';

@import './layout/header';
@import './layout/footer';
@import './layout/main';
@import './layout/gallery';
@import './layout/form';
@import './layout/navbar';

@import './pages/content';
@import './pages/home';
@import './pages/login';
@import './pages/user-page';
@import './pages/loading';